.idea
flamegraph.svg
run3.awk
*.swp
data.txt
data2.txt
empty.txt
numbers.txt
one_line.txt
redirect.txt
run.awk
run.py
sum_loop.awk
test.awk
test1.awk
test2.awk
a
out
a.out
a.out.dYsm
a.out.dSYM
rutime.bc
a.out
*.s
*/*.s
*.bc
*/*.bc
*.o
*/*.o
cmake-build-debug
.DS_Store
runtime/cmake-build-debug/
runtime/runtime.ll
runtime/runtime.s
/target
